@bgcolor:#888;

@content-width:1000px;
@content-height: 950px;

html {
	min-height:101%;
}

body {
	background-color:@bgcolor;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

#content {
	background-color:@bgcolor;
	position: absolute;
	width: @content-width;
	height: @content-height;
	top:500px;
	left: 50%;
	margin-top: -470px;
	margin-left: -(@content-width/2);
	background-color: #FFF;
}

#menu {
	position: relative;
	padding-left: 100px;
}

.category {
	background: #999;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
	float: left;
	height: 120px;
	margin: 20px 10px 20px 0;
	padding: 0 0 12px 8px;
	position: relative;
	width: 15%;
}

h4 {
	color: #333333;
	font-size:14px;
	margin: 0.6em 0 0.2em;
	position: relative;
	z-index: 10;
}

#textFrame {
	background: #999;
	color: #333;
	position: relative;
	width: 690px;
	height: 540px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -400px;
	border-radius: 15px;
	padding-left: 80px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: justify;
	line-height: 30px;
	z-index: 1;
}

.special {
	width: 10px;
	border-radius: 5px;
	background-color: #BF3030;
	opacity: 0.6; 
	position: absolute;
	z-index: 2;
}
