html {
	min-height:101%;
}

.category {
	background: #DDD;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
}

.category h5 {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 4px;
}

.category ul {
	padding-left: 8px;
	padding-top: 8px;
	padding-right: 8px;
}

.category li {
	padding-left: 4px;
	background: #FFF;
	border-radius: 7px;
}

#text {
	text-align: justify;
	
}

/* Color for hovering words. The paading is used, to make the background
 * of the hovered word the same size as the mouse selected text.*/
.word_split span:hover {
	background: #DDD;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#body {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 8px;
}

#A h5{
	border-bottom: 8px solid #FF9000;
}

#B h5{
	border-bottom: 8px solid #A101A6;
}

#C h5{
	border-bottom: 8px solid #A3B92E;
}

#D h5{
	border-bottom: 8px solid #0A64A4;
}

#A .hover {
	background: rgba(255, 144, 0, 0.4) !important;
}

#B .hover {
	background: rgba(161, 1, 166, 0.4) !important;
}

#C .hover {
	background: rgba(163, 185, 46, 0.4) !important;
}

#D .hover {
	background: rgba(10, 100, 164, 0.4) !important;
}

.A {
	background: #FF9000;
}

.B {
	background: #A101A6;
}

.C {
	background: #A3B92E;
}

.D {
	background: #0A64A4;
}


.bar{
	width: 10px;
	border-radius: 5px; 
	position: absolute;
	z-index: 2;
}
