#red {
border-color: red;
border-radius: 15px;
}

body{
background-color:#333;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 1.2em;
}

#page {
background: #CCC;
border: 1px solid #666;
color: #333;
position: absolute;
width: 300px;
height: 400px;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -350px;
border-radius: 15px;
padding-left: 80px;
padding-right: 30px;
padding-top: 30px;
padding-bottom: 30px;
text-align: justify;
line-height: 30px;
}

.borderOrange {
border-left-color: #86B32D;
border-left-style: solid;
border-left-width: 6px;
border-radius: 2px;
padding-left: 10px;
margin-left: -16px;
}

.borderBlue {
border-left-color: #BF3030;
border-left-style: solid;
border-left-width: 6px;
border-radius: 2px;
padding-left: 26px;
margin-left: -32px;
}

.special {
width: 5px;
background-color: #BF3030;
opacity: 0.6; 
position: absolute;
z-index: 2;
}

#resetbutton {
	padding-top: 20px;
	padding-left: 10px;
	border-radius: 15px;
	width: 100px;
	height: 50px;
	background-color: #CCC;
}

.selected {
	background: #679B00;
}

h1 {
	background: #679B00;
}

